.loan.column.left {
    padding: 1em 30px 30px 0;
    max-width: 380px;
    flex-basis: 380px;
}
.loan.column.right {
    padding-top: 1em;
    max-width: 410px;
    flex-basis: 410px;
}

/* tablet */
@media (max-width: 768px) {
    .loan.column.left,
    .loan.column.right {
        padding: 1em 0 30px 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }
}

/* mobile */
@media (max-width: 376px) {
    .loan.column.left,
    .loan.column.right {
        padding: 1em 0 30px 0;
        width: 100%;
    }
}
