#loan-product-selector {
    margin-top: 30px;
}
.loan.column.left {
    padding: 0 30px 30px 0;
    max-width: 440px;
    flex-basis: 440px;
}
.loan.column.right {
    max-width: 410px;
    flex-basis: 410px;
}

/* tablet */
@media (max-width: 768px) {
    .loan.column.left,
    .loan.column.right {
        padding: 0 0 30px 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

/* mobile */
@media (max-width: 376px) {
    .loan.column.left,
    .loan.column.right {
        padding: 0 0 30px 0;
        width: 100%;
    }
}
