.segment.dashblock.placeOrder-form {
    max-width: 350px;
    flex-basis: 350px;
    margin-top: 0;
}
.segment.dashblock.simplebuy-form {
    max-width: 350px;
    flex-basis: 350px;
    margin-top: 0;
}
.toggle {
    margin: 1rem 1rem 0 1rem;
    color: black;
    background: white;
    width: 350px;
}
/* mobile */
@media (max-width: 376px) {
    .segment.dashblock.placeOrder-form {
        width: 100%;
        margin: 0 0 1rem 0;
        max-width: 100%;
        padding-top: 1rem;
    }
    .segment.dashblock.simplebuy-form {
        width: 100%;
        margin: 0 0 1rem 0;
        max-width: 100%;
        padding-top: 1rem;
    }
    .toggle {
        margin: 1rem 0 0 0;
        width: 100%;
    }
}
