.card-collect-btn,
.details-collect-btn {
    margin: 0;
}

.card-collect-btn .dashblock__content,
.details-collect-btn .dashblock__content {
    display: flex;
    flex-direction: column;
}

.card-collect-btn .dashblock__content {
    padding: 0;
    align-items: flex-end;
}

.details-collect-btn .dashblock__content {
    padding: 10px 0 0 5px;
    align-items: flex-start;
}

.details-collect-btn .dashblock__content > div {
    margin-left: 0;
}
