#roadmap {
  margin: auto;
  margin-top: 75px;
  padding: 0 20px;
  max-width: 1167px;
}

#roadmap>div img {
  padding: 0px 135px;
  max-width: 100%;
}

#roadmap>div:nth-child(odd) .state {
  float: right;
}

#roadmap>div:nth-child(odd) img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#roadmap .state {
  width:270px;
}

#roadmap h4,
#roadmap h5,
#roadmap p {
  margin-top: 0;
}

#roadmap h4 {
  margin: 0;
}

#roadmap h4.state {
  margin-bottom: 14px;
}

#roadmap p {
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #roadmap h4:not(.state),
  #roadmap h5,
  #roadmap p {
        opacity: 0.6;
    }
}

@media (max-width: 767px) {
  #roadmap>div {
    margin: auto;
  }

  #roadmap>div div.state {
    margin: auto;
    margin-bottom: 65px;
  }

  #roadmap>div:nth-child(odd) .state {
    float: none;
  }

  #roadmap>div img {
    display: none;
  }
}
