article.segment {
    padding: 0;
}

.large-gap > * {
    margin-bottom: 115px !important;
    margin-top: 115px !important;
}

h1,
h1.ui.header,
h2,
h2.ui.header,
h3,
h3.ui.header {
    font-weight: 200;
}

h2,
h2.ui.header {
    font-size: 34px;
    margin-bottom: 50px;
}

h3,
h3.ui.header {
    font-size: 26px;
    line-height: 26px;
}

h4,
h4.ui.header {
    font-weight: 200;
    font-size: 24px;
}

h5,
h5.ui.header {
    font-weight: 200;
    font-size: 12px;
}

p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
}

.ui.header + p.loans {
    margin-top: 20px;
}

.grid .home-image img {
    max-height: 120px;
    min-height: 120px;
    margin-bottom: 40px;
}

p.opac {
    opacity: 0.6;
}

.segment.how-to-use {
    position: relative;
    padding-top: 0px;
    padding-bottom: 200px;
    background: linear-gradient(
        rgba(53, 0, 55, 0) 0%,
        rgba(53, 0, 55, 1) 20%,
        rgba(53, 0, 55, 1) 80%,
        rgba(53, 0, 55, 0) 100%
    );
}

.grid .column {
    padding: 2rem 1rem;
}

.team .grid .column > img,
.partner .grid .column > img {
    background-color: #fff;
    border-radius: 500rem;
    filter: grayscale(100%);
    float: left;
    width: 120px;
    height: 120px;
    margin-bottom: 80px;
    margin-right: 30px;
}

.grid .column .description {
    padding-bottom: 80px;
}

.team .grid .column h3 {
    margin: 0;
}

.team .grid .column h5 a.social {
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
}

.team .grid .column p.description,
.partner .grid .column p.description {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1.1px;
    margin: 5px 0 0;
}

.partner .grid .column a,
.team .grid .column a {
    color: #fff;
    font-weight: 400;
}

.segment.how-to-use .grid.margin {
    margin-bottom: 140px;
}

.segment.how-to-use h5.ui.header,
.segment.how-to-use h2.ui.header {
    margin: 0;
}

.interchange-icon {
    width: 50px;
}

a.try-now {
    padding: 10px 20px;
    width: 91px;
}

.homePage-grid {
    justify-content: space-between;
    margin-bottom: 120px;
}

.homePage-grid .homePage-column {
    text-align: center;
    padding: 1rem;
}
.homePage-grid .homePage-column .grid-cont {
    text-align: left;
    width: 350px;
    margin: 0 auto;
}
.homePage-column p {
    font-size: 20px;
    line-height: 120%;
}
.homePage-header {
    font-weight: bold;
    margin: 30px auto;
    font-size: 38px;
}
.homePage header h5 {
    font-size: 20px;
    line-height: 150%;
    margin: "14px 0";
}
.homePage header {
    margin-bottom: 150px;
}
h3.homePage-row-header {
    padding-left: calc((50% - 350px) / 2);
}
.homePage-row-header,
.homePage-column-header {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 120%;
    font-size: 30px;
}

.product-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    height: calc(100% - 80px);
    border-radius: 4px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
.product-box h4.box-header {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}
.product-box ul {
    padding: 0;
}

.product-box ul .list-item {
    padding-left: 25px;
    background: url("../../../assets/images/list-arrow.svg") no-repeat left 8px;
    list-style-type: none;
    margin: 10px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.product-box ul .list-item span {
    color: #ffad00;
    font-size: 22px;
    font-weight: 600;
}
.box .cta {
    display: none;
}
.desc .cta {
    display: inline-block;
}
.more-link {
    display: block;
}

@media (max-width: 768px) and (min-width: 320px) {
    .homePage header {
        margin-bottom: 140px;
    }
    h1.homePage-header {
        font-size: 32px;
        margin: 10px auto 30px auto;
    }
    .homePage-grid {
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    .homePage-grid .homePage-column .grid-cont {
        text-align: center;
        width: 100%;
    }
    .desc .cta {
        display: none;
    }
    .homePage-grid .homePage-column {
        padding-bottom: 0;
    }
    .box .cta {
        display: inline-block;
        margin-top: 10px !important;
    }
    .how-to-use br {
        display: none;
    }
    .homePage-grid.left {
    }
    .homePage-grid.right {
        flex-direction: column-reverse;
    }
    .homePage-grid .homePage-column {
        text-align: center;
    }
    .homePage-grid .row {
        text-align: center;
    }
    h3.homePage-row-header {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .product-box {
        padding: 20px;
        width: calc(100% - 40px);
        height: auto;
    }
    .homePage-row-header,
    .homePage-column-header {
        font-size: 28px;
    }

    .convertible {
        justify-content: center;
    }
    .homePage-column p {
        font-size: 18px;
    }
    .product-box ul .list-item {
        text-align: left;
        font-size: 18px;
    }
    .product-box ul .list-item span {
        font-size: 18px;
    }
    .more-link {
        display: none;
    }
    .segment.how-to-use {
        padding-bottom: 50px;
    }

    .team .grid .column > img,
    .partner .grid .column > img {
        margin-bottom: 10px;
    }

    .team .grid .column h3 {
        margin-top: 35px;
    }

    .team .grid .column p.description,
    .partner .grid .column p.description {
        margin-top: 45px;
    }
}
