.connect-wallet,
.connect-wallet * {
    box-sizing: border-box;
}

.connect-wallet {
    background-color: #f3f1f1;
    color: #051d2d;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.connect-wallet p {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}

.connect-wallet p a {
    color: #051d2d;
    text-decoration: underline;
    cursor: pointer;
}

.connect-wallet > header {
    background-color: white;
    line-height: 140%;
    height: 50px;
    font-family: "Roboto slab";
    text-align: left;
    padding: 10px 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.connect-wallet .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
    flex-wrap: wrap;
}

.connect-wallet section {
    padding: 15px;
}

.connect-wallet section > p {
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
}

.connect-wallet .content .column {
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: white;
    border-radius: 4px;
    margin: 15px 15px;
}

.connect-wallet .content .column > div {
    padding: 15px 20px;
}

.connect-wallet .content .column header {
    border-bottom: 2px solid #f3f1f1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 20px;
}

.connect-wallet ul {
    padding: 0;
    text-align: left;
    font-weight: 500;
}

.connect-wallet ul li {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
    height: 33px;
}

.connect-wallet ul li img {
    width: 25px;
    margin-right: 10px;
}

.connect-wallet ul li a {
    position: relative;
    text-transform: capitalize;
}

.connect-wallet ul li a:after {
    content: "";
    background-image: url("./../../../assets/images/arrow_link.svg");
    height: 10px;
    width: 7px;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: -15px;
    top: calc(50% - 4px);
}
