/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

#fakebody {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%; /* 1, 3 */
}

.Site__dash {
    background: #f8f8f8;
    padding-top: 50px;
}

.Site-header,
.Site-footer {
    flex: none; /* 2 */
}

.Site-content {
    flex: 1 0 auto; /* 2 */
    /* padding: var(--space) var(--space) 0; */
    width: 100%;
}

.Site-content.Site-content__dash {
    padding-left: 180px;

}
.Site-content::after {
    content: "\00a0"; /* &nbsp; */
    display: block;
    /* margin-top: var(--space); */
    height: 0px;
    visibility: hidden;
}
@media (--break-lg) {
    .Site-content {
        /* padding-top: var(--space-lg); */
    }
    /*
    .Site-content::after {
         margin-top: var(--space-lg);
    }
    */
}

.Site-content--full {
    padding: 0;
}
.Site-content--full::after {
    content: none;
}

.ui.primary.button {
    background: #fff;
    font-weight: 200;
    color: #051d2d;
    letter-spacing: 2.6;
}

.ui.primary.button:hover {
    background: #ccc;
}

.ui.form .field>label {
    color: white;
}

.ui.statistic>.label, .ui.statistics .statistic>.label {
    color: #ffad00;
}

.ui.statistic>.label, .ui.statistics .statistic>.value {
    color: #fff;
}

.menu .ui.button {
    font-weight: 200;
    font-size: 14px!important;
    text-transform: uppercase;
    background-color: #fff; 
}

.ui.modal p {
    color: #051d2d;
}

.ui.basic.button, .ui.basic.buttons .button {
    background: #fff!important;
}

/* TODO: clean up f_dashboard temporary styles */
.ui.basic.segment.dashblock {
    background: white;
    border: 1px solid #051d2d;
    border-radius: 5px;
    color: #051d2d;
    overflow: hidden;
    padding: 0;
    margin-bottom: 40px;
}

.dashhead {
    position: absolute;
    top: -50px;
    z-index: 1000;
    width: 60%!important;
    left: 24px;
}

.dashhead h1 {
    color: #ffad00!important;
}

.dashblock__head {
    background: #051d2d;
    padding: 10px 20px;
}

.dashblock__head .ui.massive.tabular.menu {
    margin: -10px 0 -10px -20px;
}

.dashblock__head .ui.massive.tabular.menu .active.item {
    border: none;
}

.dashblock__head .ui.massive.tabular.menu .ui.tabular.menu .item:hover {
    color: rgba(255,255,255,.8);
}

.dashblock__head h2 {
    font-size: 24px!important;
}

.dashblock__content {
    padding: 10px 20px;
}

.dashblock__content h1.ui.header,
.dashblock__content h2.ui.header,
.dashblock__content h3.ui.header,
.dashblock__content h4.ui.header {
    color: #051d2d;
}
